{#template master.html}

{#def body}

    <p>{:if user.nickname}Hello <strong>{=user.nickname}</strong>! (<a href="{=user.logoutUri}">logout</a>){:e}Anonymous user (<a href="{=user.loginUri}">login</a>){/:if}</p>

    {:if user.isAdmin}
        <p>Add more tests.</p>
    {/:if}
    <p>
        {:if tests.length}
            <ul>
                {:r tests}
                    <li>
                        <a href="{=publicUri}">{=title}</a> &mdash;
                        {:if user.isAdmin}
                            <a href="{=uri}">Edit</a> &mdash;
                        {/:if}
                        <span>{=description}</span>
                    </li>
                {/:r tests}
            </ul>
        {:e}
            No tests are defined yet.
        {/:if}
    </p>
{/#def}
